<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MIM</title>
    </head>
    <body>
        <div>
            <br/>
            <h1><a>기억속의 영화를 검색하세요</a></h1>
        </div>
        <div>
            <form method="get" action="next.html">
                입력 : <input type="text" name="inputForm" size="25" value="{{ current_name }}">
                    <input type="submit" value="검색">
            </form>
        </div>
    </body>
</html>